@charset "utf-8";
.bd_clear{
    clear: both;
}
a:active,
a:focus{
    text-decoration: none !important;
    outline: none !important;
}
@font-face{
    font-family: curly;
    src: url(../fonts/curly.ttf);
}
body{
    background-color: #eeeeee !important;
}
.slider_container{
    position: relative;
}
ul.banner{
    padding: 0px !important;
}
.banner_box{
    width: 100%;
    height: 680px;
}
.bannera{
    background: url(../images/Banner1.jpg);
    background-position: right center;
}
.bannerb{
    background: url(../images/Banner2.jpg);
    background-position: right center;
}
.bannerc{
    background: url(../images/Banner3.jpg);
    background-position: left center;
}
.bannerd{
    background: url(../images/Banner4.jpg);
    background-position: center;
}
.banner_caption{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
}
.caption_span{
    display: inline-block;
    max-width: 580px;
    font-size: 21px;
    margin-top: 230px;
}
.caption_span h2{
    font-family: curly;
    font-size: 40px;
    margin: 0px;
}
.banner_pager_wrap{
    position: absolute;
    z-index: 99999;
    width: 100%;
    text-align: center;
    bottom: 100px;
    left: 0px;
}
.banner_pager{
    display: inline-block;
}

/* Video Banner */
.banner_video{
    position: relative;
    width: 100%;
    height: 680px;
    overflow-y: hidden;
}
.banner_video_wrap{
    position: absolute;
    width: 100%;
    height: 680px;
    top: 0;
    left: 0;
}
.banner_video_wrap video{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}
.banner_video_overlay{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 680px;
    background-image: url(../images/bg-pat.png);
    background-color: rgba(0, 0, 0, 0.6);
}



#pager a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #FFF;
    text-align: center;
    margin: 0px 5px;
}
#pager a span{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 6px;
}
#pager a.active span{
    background-color: #FFF;
}
#pager a:focus,
#pager a:active{
    text-decoration: none;
    outline: none;
}
#pager{
    float: left;
}
.pager_left{
    float: left;
    width: 280px;
    background: url(../images/pager_left.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 30px;
    margin-right: 10px;
}
.pager_right{
    float: left;
    width: 280px;
    background: url(../images/pager_right.png);
    background-repeat: no-repeat;
    background-position: right center;
    height: 30px;
    margin-left: 10px;
}
.header{
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 40px;
}

.nav_wrapper{
    float: left;
}
.logo{
    background-color: #FFF;
    padding: 15px;
}
ul.navigation{
    margin: 0px;
    padding: 30px 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
ul.navigation > li{
    list-style: none;
    padding: 0px 15px;
}
ul.navigation > li > a{
    padding: 8px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    color: #FFF;
    text-transform: capitalize;
    font-size: 17px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.navigation > li:last-child > a{
    border-bottom: none;
}
ul.navigation > li > a:hover{
    text-decoration: none;
    color: #b71f24;
}
.nav_ico{
    margin-right: 15px;
    width: 25px;
    display: inline-block;
}
.social_lnk{
    float: right;
}
a.soc_ico{
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #FFF;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    padding-top: 5px;
    margin-right: 9px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.soc_ico:hover{
    /*background-color: rgba(255, 255, 255, 0.9);*/
}
a.soc_fb:hover{
    color: #3B5998;
    border-color: #3b5998;
}
a.soc_tw:hover{
    color: #4099FF;
    border-color: #4099FF;
}
a.soc_yt:hover{
    color: #e52d27;
    border-color: #e52d27;
}
.welcome{
    width: 100%;
    background-color: #eeeeee;
    margin-top: -60px;
    padding-top: 25px;
    position: relative;
}
.home_gal_lengthy{
    float: left;
}
.home_gal_right_colb{
    float: right;
}
.home_gal_right_colb img{
    display: block;    
}
.home_gal_right_colb img:last-child{
    /*margin-top: 11px;*/
}
.home_gal_block:last-child{
    margin-top: 11px;
}
.home_gal_block:last-child img{
    float: left;
}
a.galerry_lnk{
    display: block;
    float: right;
    text-transform: uppercase;
    text-align: center;
    width: 193px;
    height: 169px;
    border: 1px solid #e31f24;
    color: #e31f24;
    padding-top: 60px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.galerry_lnk:hover{
    text-decoration: none;
    outline: none;
    color: #333;
    border-color: #333;
}
.welcome_block{
    background-color: #FFF;
    padding: 20px;
    position: relative;
    top: 0px;
    margin-top: -80px;
    z-index: 999;
}
.welcome_logo{
    float: left;
}
.welcome_hd{
    font-size: 21px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 27px;
}
.pearl{
    font-size: 22px;
    font-weight: bold;
}
.readmore_lnk{
    margin-top: 30px;
}
.readmore_lnk a{
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #e31f24;
    color: #e31f24;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.readmore_lnk a:hover{
    text-decoration: none;
    color: #333;
    border-color: #333;
}
.testimonial_block{
    background-color: #FFF;
    padding-bottom: 30px;  
    position: relative;
    top: 45px;
    width: 100%;
    padding-top: 50px;
    z-index: 999999;
}
.testimonial_wrap{
    padding: 15px 40px;
}
.testimonial_hd{
    text-align: center;
}
.testimonial_hd h3{
    display: inline-block;
    border-bottom: 1px solid #e31f24;
}
.testimonial_control{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
}

.testi_control{
    display: block;
    float: left;
}
.testi_control a{    
    display: block;
    margin-left: 2px;
    width: 40px;
    height: 40px;
    background-color: #dedede;
    text-align: center;
    padding-top: 10px;
    color: #979797;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.testi_control a:hover{
    text-decoration: none;
    color: #333;
    background-color: #7c7b7b;
}
.testi_control a:active,
.testi_control a:focus{
    color: #979797;
    text-decoration: none;
    outline: none;
}
.testi_img{
    text-align: center;
}
.testi_img img{
    border-radius: 50%;
    border: 4px solid #CCC;
    margin: 0 auto;
}
.testi_txt{
    text-align: center;
    padding-top: 15px;
}
.quote_ico{
    color: #b9b9b9;
    display: inline-block;
    padding-right: 10px;
}
.testi_person{
    margin-top: 15px;    
}
.testi_person h4{
    color: #e31f24;
}
.video_wrap{
    width: 100%;
    height: 650px;
    background-color: #000;
    position: relative;
    overflow-y: hidden;
}
.video_bg{
    width: 100%;
    height: 100%;
    position: absolute;
}
.video_bg video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.video_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pat.png);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    top: 0;
    left: 0;
    padding-top: 120px;
}
.serv_col{
    text-align: center;
}
.serv_col img{    
    width: 127px;
}
.serv_col h4{
    font-family: curly;
    text-transform: capitalize;
    font-size: 22px;
    color: #FFF;
}
.serv_col h4 a{
    color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.serv_col h4 a:hover{
    text-decoration: none;
    color: #e31f24;
}
.video_overlay .row:first-child{
    margin-bottom: 100px;
}
.footer{
    width: 100%;
    background-color: #dedede;
    padding: 30px 0px 20px 0px;
}
.footer_logo{
    text-align: center;
}
.footer_logo img{
    width: 100%;
    max-width: 227px;
}
.footer_soc{
    text-align: center;
    margin-top: 30px;
}
.footer_soc a{
    display: inline-block;
    color: #868686;
    height: 40px;
    padding: 3px 15px;
    border-right: 1px dotted #333;
    text-align: center;
    font-size: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer_soc a:last-child{
    border-right: none;
}
.footer_soc a:hover{
    text-decoration: none;
}
.footer_soc a.footer_soc_fb:hover{
    color: #3B5998;
}
.footer_soc a.footer_soc_tw:hover{
    color: #4099FF;
}
.footer_soc a.footer_soc_yt:hover{
    color: #e52d27;
}
.address_hd{
    color: #e31f24;
    margin-bottom: 0px;
}
ul.branch_list{
    margin: 0px;
    padding: 0px;
}
ul.branch_list > li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
    border-right: 1px solid #e52d27;
    line-height: 16px;    
}
ul.branch_list > li:first-child{
    padding-left: 0px;
}
ul.branch_list > li:last-child{
    border-right: none;
}
.footer_cont_det{
    margin: 10px 0px;
}
.footer_cont_det span{
    display: inline-block;
    color: #868686;
    width: 25px;
}
.footer_cont_det a{
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer_cont_det a:hover{
    text-decoration: none;
    color: #e31f24;
}
.quick_lnk_inline{
    display: inline-block;
    text-align: left;
}
.quick_lnk_inline a{
    text-transform: capitalize;
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.quick_lnk_inline a:hover{
    color: #e52d27;
    text-decoration: none;
}
.footer_border{
    margin-top: 30px;
    border-top: 1px solid #a0a0a0
}
.copyrt_txt{
    float: left;
}
.bodhi_lnk{
    float: right;
}
.bodhi_lnk a{
    display: inline-block;
    vertical-align: super;
}

.header_rest{
    width: 100%;
    padding: 10px 0px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px #CCC;   
}
.logo_rest{
    float: left;
}
.navigation_rest{
    float: right;
}
ul.nav_menu_rest{
    padding: 0px;
    margin: 25px 0px 0px;
}
ul.nav_menu_rest > li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
}
ul.nav_menu_rest > li > a{
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 15px;
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.nav_menu_rest > li > a:hover{
    text-decoration: none;
    color: #e11f24;
}
ul.nav_menu_rest > li:last-child > a{
    padding-right: 0px;
}
.featured_image{
    width: 100%;
}
.featured_image img{
    width: 100%;
}
ul.vission_details > li{
    list-style: square;
}
.pop_link{
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pop_link img{
    width: 100%;
}
.pop_link_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.body_overlay{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.popup_wrap{
    width: 700px;
    position: fixed;
    z-index: 999;
    background-color: #FFF;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #000;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -205px;
    display: none;
}
.popup_image_wrap{
    position: relative;
}
.popup_image_wrap img{
    border-radius: 12px;
    width: 100%;
}
a.popup_controls{
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 10px;
    color: #CCC;
    top: 50%;    
    margin-top: -19px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.popup_wrap:hover .popup_controls{
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
}
a.popup_controls:focus{
    color: #CCC;
}
a.popup_controls:active{
    color: #CCC;
}
.popup_prev{
    left: 15px;
}
.popup_next{
    right: 15px;
}
.inner_container{
    margin: 30px 0px;
}
.nav_rest_trigger{
    display: inline-block;
    width: 35px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: #4099ff;
    color: #FFF;
    font-size: 21px;
    border-radius: 5px;
    display: none;
}
.gallery_container .row{
    margin-bottom: 30px;
}
.contact_wrap{
    width: 100%;
    background: url(../images/red_bg.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    background-size: cover;
    background-position: center;
}
h3.section_head{
    display: inline-block;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #FFF;
}
.contact_ico{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    border: 1px solid #FFF;
    text-align: center;
    font-size: 25px;
    padding-top: 6px;
    margin: 0 auto;
}
.contact_det{
    color: #FFF;
    margin-top: 15px;
}
.contact_det a{
    color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.contact_det a:hover{
    text-decoration: none;
    color: #b71f24;
}
.map_wrap{
    width: 100%;
    position: relative;
    margin-top: 30px;
}
.map{
    position: relative;
    height: 400px;
}
.map iframe{
    position: relative;
    width: 100%;
    height: 400px;
}
#gmap{
    width: 100%;
    height: 400px;
    position: relative;
}
.contact_form_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 80px;
}
.form_block{
    margin: 30px 0px;
    padding: 0px 50px;
}
form#contact_form input[type="text"],
form#contact_form input[type="email"],
form#contact_form textarea{
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFF;
    padding: 10px;
}
form#contact_form input[type="submit"]{
    padding: 10px 20px;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}
form#contact_form textarea{
    height: 115px;
    min-width: 100%;
    max-width: 100%;
}
.team_wrap{
    width: 100%;
    position: relative;
    height: 600px;
    background-image:  url(../images/bg_fixed.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.team_overlay{
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 100px;
}
.team_inner{
    color: #FFF;
    text-align: center;
}
.team_inner img{
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #000;
}
.team_inner h4, .team_inner h3{
    text-transform: uppercase;
}
.team_social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    border: 1px solid #FFF;
    font-size: 18px;
    padding-top: 7px;
    margin: 0px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.team_social a.team_soc_fb:hover{
    color: #3b5998;
    border-color: #3b5998;
}
.team_social a.team_soc_tw:hover{
    color: #4099FF;
    border-color: #4099FF;
}
.team_social a.team_soc_gp:hover{
    color: #dd4b39;
    border-color: #dd4b39;
}
.service_wrap{
    width: 100%;
    position: relative;
    height: 790px;
    background: url(../images/Banner2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.service_wrap .row:first-child{
    margin-top: 50px;
}
.service_wrap .row{
    margin: 15px 0px;
}
.service_inner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #CCC;
}
.yt_vid iframe{
	width:100%;
	height: 264px;
	margin-top: 15px;	
	border: none;
}
.ft_srv{
    position: relative;
}
.feat_caption{
    position: absolute;
    display: block;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    padding: 10px 15px;
    font-family: curly;
    font-size: 25px;
    text-transform: uppercase;
    bottom: 30px;
    left: 0px;
}
h3.panel_head{
    text-transform: uppercase;
    color: #FFF;
    padding: 6px 15px;
    background-color: #b71f24;
    margin: 0px;
}
ul.side_nav{
    padding: 0px;
    margin: 0px;
}
ul.side_nav > li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.side_nav > li > a{
    display: block;
    padding: 6px 15px;
    text-transform: uppercase;
    background-color: #cf585c;
    color: #FFF;
    border-bottom: 1px solid #e67c7f;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.side_nav > li > a:hover{
    text-decoration: none;
    background-color: #b71f24;
    color: #FFF;
}
ul.side_nav > li > a span{
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
}
.sub_slider_wrap{
    position: relative;
    width: 100%;
}
.gal_box{
    position: relative;   
    cursor: pointer;
    -mozo-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.gal_box img{
    width: 100%;
}
.gal_box h4{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-transform: uppercase;
    padding: 5px 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    width: 100%;
    text-align: center;
    margin: 0px;
    z-index: 999;
}
.gal_over{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -mozo-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}
.gal_over:hover{
    background-color: rgba(0, 0, 0, 0);
}
.gal_wrap{
    position: relative;
}
h4.gal_title{
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 10px;
    color: #FFF;
    font-family: curly;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px;
    font-size: 25px;
}
.gal_pager{
    text-align: center;
    margin-top: -50px;
}
.gal_pager a{
    display: inline-block;
}
.gal_pager a img{
    width: 100px;
}

.gal_row{
    margin: 30px auto;
}
@media only screen and (max-width:480px){
    .gal_pager a img{
        width: 60px;
    }
}























@media only screen and (min-width: 992px) and (max-width: 1199px){
    .home_gal_lengthy{
        width: 53%;
    }
    .home_gal_right_colb{
        width: 45%;
    }
    .home_gal_right_colb img{
        width: 100%;
    }
    .home_gal_blockb img{
        width: 53%;
    }
    a.galerry_lnk{
        width: 163px;
        height: 143px;
        padding-top: 43px;    
    }
    ul.nav_menu_rest > li > a{
        padding: 5px 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .home_gal_lengthy{
        width: 50%;
    }
    .home_gal_right_colb{
        width: 42%;
    }
    .home_gal_right_colb img{
        width: 100%;
    }
    .home_gal_blockb img{
        width: 50%;
    }
    a.galerry_lnk{
        width: 114px;
        height: 101px;
        padding-top: 23px;
    }
    .logo_rest{
        float: none;
    }
    .navigation_rest{
        float: none;
    }
    ul.nav_menu_rest > li > a{
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 767px){
    .pager_left, .pager_right{
        width: 100px;
    }
    .home_gal_wrap{
        margin-top: 45px;
        text-align: center;
    }
    .resfix_home_gal{
        display: inline-block;
    }
    .home_gal_lengthy{
        margin-right: 10px;
    }
    .video_wrap{
        height: auto;
    }
    .video_bg{
        display: none;
    }
    .video_overlay{
        height: auto;
        position: relative;
        background: url(../images/bg_fixed.jpg);
        background-attachment: fixed;
        padding-top: 0px;
    }
    .video_overlay .container{
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 30px;
    }
    .video_overlay .row:first-child{
        margin-bottom: 0px;
    }
    .serv_col{
        margin-bottom: 15px;
    }
    .popup_wrap{
        width: 70%;
        margin-left: -35%;
    }
    .pop_link{
        width: 290px;
        margin: 15px auto;
    }
    .logo_rest{
        float: none;
    }
    .navigation_rest{
        float: none;
    }
    ul.nav_menu_rest{
        display: none;
    }
    ul.nav_menu_rest > li{
        float: none;
    }
    ul.nav_menu_rest > li > a{
        display: block;
    }
    .nav_rest_trigger{
        display: inline-block;
    }
    .gallery_container .row{
        margin-bottom: 0px;
    }
    .gallery_container .row .pop_link:last-child{
        margin-bottom: 0px;
    }
	.service_wrap{
		height:2230px;	
	}
    .team_inner{
        margin: 15px 0px;
    }
    .team_wrap{
        height: 1600px;
    }
    .team_overlay{
        height: 1600px;
    }
    .contact_col{
        margin: 30px 0px;
    }
    .map{
        height: 580px;
    }
    #gmap{
        height: 580px;
    }
}
@media only screen and (max-width: 480px){
    .social_lnk{
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -73px;
    }
    .nav_wrapper{
        position: absolute;
        left: 50%;
        margin-left: -128px;
        top: 70px;
    }
}
@media only screen and (max-width: 500px){
    .home_gal_lengthy{
        width: 49%;
    }
    .home_gal_right_colb{
        width: 42%;
    }
    .home_gal_right_colb img{
        width: 100%;
    }
    .home_gal_blockb img{
        width: 49%;
    }
    a.galerry_lnk{
        width: 42%;
        width: 42%;
        border: none;
        padding-top: 15px;
    }
}
@media only screen and (max-width: 480px){
    .pager_left, .pager_right{
        width: 20px;
    }
}
.upcoming{
    padding: 5px 8px;
    background-color: #c01f24;
    color: #FFF;
}
































